<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this message from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.text_field :title, class:'form-control', placeholder:'Post title', required: true %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.text_field :author, class:'form-control', placeholder:'Author', required: true %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.cktext_area :content, :ckeditor => {:language => 'en'}, required: true %>
    </div>
    <div class="actions">
      <%= f.submit class:'btn btn-primary' %>
    </div>
<% end %>
