<% provide(:row_info, 'View Our Menu') %>

<%= render 'layouts/carousel' %>
<%= render 'layouts/row_one' %>
<div id="row-2" class="row">
  <div class="col-sm-3 products">
    <%= image_tag 'fruit-juices.jpg', alt: 'Fresh Fruit Juices' %>
    <h4>Fresh Undiluted Fruit Juices</h4>
    <p>Orange, watermelon, pineapple, apple, carrot, cucumber, tomatoes, and a variery of blends based on your needs.</p>
  </div>

  <div class="col-sm-3 products">
    <%= image_tag 'tropical_fruit_salad.jpg', alt: 'Fruit Salad' %>
    <h4>Fresh Fruit Salads</h4>
    <p>Pineapple, cabbage, watermelon, banana, coconut, cucumber and many nutritional vegetables in a takeaway pack.</p>
  </div>
  <div class="col-sm-3 products">
    <%= image_tag 'smoothie.jpg', alt: 'Awesome Smoothies' %>
    <h4>Amazing Smoothies</h4>
    <p>Our smoothies are simply amazing. A blend of banana, grape, pineapple, pawpaw, apple, and moringa leaf. Crispy, tasty and filling.</p>
  </div>
  <div class="col-sm-3 products">
    <%= image_tag 'healthy-bites.jpg', alt: 'Healthy Bites' %>
    <h4>Healthy Bites</h4>
    <p>To complement the fruit juices, we provide tasty and healthy food. You are what you eat. Eat healthy, stay healthy!</p>
  </div>
  <p>All juices are fresh and undiluted. No preservatives; they're 100% natural!</p>
  <h3 class="price">Starting from &#8358 99.99!</h3>
</div>

<div id="row-3" class="row">
  <div class="col-sm-4 products">
    <%= image_tag 'zumoval-juicing.jpeg', alt: 'Event Servicing' %>
    <h4>On-The-Spot Juicing at Events</h4>
    <p>If you have a birthday, wedding, get-together - any event, we can provide chilled, fresh fruit juices on the spot.</p>
  </div>
  <div class="col-sm-4 products">
    <%= image_tag 'smoothie-berry.jpeg', alt: 'Healthy Living Services' %>
    <h4>Healthy Living Services</h4>
    <p>We want to see you healthy. We provide counseling, healthy living talks, seminars, symposiums, healthy living tips.</p>
  </div>
  <div class="col-sm-4 products">
    <%= image_tag 'green-tea-smoothie.jpg', alt: 'Custom Juicing' %>
    <h4>Custom Juicing</h4>
    <p>We can specially juice for you, if you have a new recipe, or you want additional ingredients in your fruit juice/salad!</p>
  </div>
  <h3 class="price">Our prices are reasonable and flexible.</h3>
</div>