<div class="row">
  <div id="pictures" class="col-sm-12 owl-carousel owl-theme">
    <div class="item" id="slide-1"><%= image_tag 'fullimage8.jpg', alt: 'ESABOL' %></div>
    <div class="item" id="slide-2"><%= image_tag 'fullimage1.jpg', alt: 'FRUITY' %></div>
    <div class="item" id="slide-3"><%= image_tag 'fullimage2.jpg', alt: 'FRUITY' %></div>
    <div class="item" id="slide-4"><%= image_tag 'fullimage3.jpg', alt: 'FRUITY' %></div>
    <div class="item" id="slide-5"><%= image_tag 'fullimage4.jpg', alt: 'FRUITY' %></div>
    <div class="item" id="slide-6"><%= image_tag 'fullimage5.jpg', alt: 'FRUITY' %></div>
    <div class="item" id="slide-8"><%= image_tag 'fullimage7.jpg', alt: 'FRUITY' %></div>
  </div>
</div>